<template>	
	<form class="add" @submit.prevent="this.adicionar">
    <b-field label="Título">
      <b-input v-model="produto.title"></b-input>
    </b-field>

    <b-field label="Descrição">
      <b-input v-model="produto.description"></b-input>
    </b-field>

    <b-field label="Url">
      <b-input v-model="produto.url"></b-input>
    </b-field>

    <div class="buttons">
	    <b-button>Cancelar</b-button>
	    <b-button type="is-primary" @click="adicionar(produto)">Adicionar</b-button>
    </div>
  </form>
</template>

<script>
	import Produto from '@/services/produtos'
    export default {
        data() {
            return {
            	produtos: [],
              produto: {
              	title: '',
              	description: '',
              	url: ''
              }
            }
        },
        methods: {
        	adicionar(produto) {
        		Produto.criar(produto).then(() => {
        			window.console.log('Sucesso!')
        		}).catch(err => {
        			window.console.log(err.response.data)
        		})
        	},
        	listar() {
        		Produto.listar().then(products => {
        			this.produtos = products.data.docs
        			window.console.log(this.produtos)
        		}).catch(err => {
        			console.error(err)
        		})
        	}
        }
    }
</script>

<style scoped>
</style>