<template>
  <div class="home">
    <div v-for="produto of produtos" :key="produto._id">
    	<article>
    		<strong>{{ produto.title }}</strong>
    		<p>{{ produto.description }}</p>
    		<a :href="produto.url">{{ produto.url }}</a>
    		<div class="buttons">
    			<b-button type="is-primary" @click="mostrar(produto._id)">Acessar</b-button>
    			<b-button type="is-info" @click="editar(produto._id, produto)">Editar</b-button>
    			<b-button type="is-danger" @click="apagar(produto._id)">Apagar</b-button>
    		</div>
    	</article>
    </div>
    <hr>
    <div class="buttons navegation">
    	<b-button type="is-primary">Anterior</b-button>
    	<b-button type="is-primary">Próximo</b-button>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Produto from '@/services/produtos'
export default {
  name: 'home',
  data() {
  	return {
  		produtos: []
  	}
  },
  mounted() {
  	this.listar()
  },
  methods: {
  	listar() {
  		Produto.listar().then(produtos => {
  			this.produtos = produtos.data.docs
  			console.log(this.produtos)
  		})
  	},
  	mostrar(id) {
  		Produto.mostrar(id).then(produto => {
  			window.console.log(produto.data)
  		})
  	},
  	editar(id, produto) {
  		Produto.editar(id, produto).then(editado => {
  			window.console.log(editado.data)
  		})
  	},
  	apagar(id) {
  		Produto.deletar(id).then(() => {
  			this.listar()
  			window.console.log('Apagado!')
  		})
  	}
  }
}
</script>

<style scoped>
	.navegation {
		display: flex;
		justify-content: space-between;
		margin: 0 2%;
	}
</style>