<template>
	<span>{{ title }}</span>
</template>

<script>
	export default {
		name: 'Header',
		props: {
			title: String
		}
	}
</script>

<style scoped>
	#main-header {
		width: 100%;
		height: 60px;
		background: #da552f;
		font-size: 18px;
		font-weight: bold;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>